<div class="swiper-slide">
  <div class="card home__card--width">
    <div class="card__image">
      <%= image_tag(locals[:image], :alt => locals[:alt]) %>
    </div>
    <div class="card__text">
      <%= locals[:text] %>
    </div>
  </div>
</div>
