<div class="swiper-slide">
  <div class="card depo__card--width">
    <div class="card__depo-content">
      <div class="card__depo">
        <%= locals[:depo] %>
      </div>
      <div class="card__depo-name">
        <%= locals[:depo_name] %>
      </div>
    </div>
  </div>
</div>
