<div class="swiper-slide">
  <div class="card card--training">
    <div class="card--content">
      <div class="card--training__title">
        <%= locals[:title] %>
      </div>
      <div class="card--training__text">
        <% if locals[:subtitle] %>
          <span><%= locals[:subtitle] %></span><br><br>
        <% end %>
        <%= locals[:text] %>
      </div>
      <a class="btn btn-blue mt-3" href="treinamentos#<%= locals[:sectionId] %>">Ver Treinamento</a>
    </div>
  </div>
</div>
