<section class="section--about--page">
  <div class="row justify-content-between">
    <div class="about__text col-md-6 col-sm-12 about__text--page">
      <h3>Sobre Mim</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra lectus, vel rhoncus ipsum. Etiam placerat viverra nibh eu fringilla. Quisque nunc erat, interdum vel pellentesque euismod, pharetra eu orci. Sed id sagittis nunc.<br>
      <br>
      Ut tincidunt accumsan metus, a sollicitudin ipsum auctor sed. Nulla quis neque pellentesque, porta nibh ac, dignissim dolor. Aliquam ac tortor in erat rhoncus semper in vitae felis. Vivamus dignissim, dolor nec iaculis malesuada, tellus sapien eleifend tortor, in egestas purus diam non orci. Ut est quam, tempus nec facilisis ac, blandit vel libero.
    </div>
    <div class="about__image col-md-6 col-sm-12">
      <%= image_tag("rafa-2.png", :alt => "foto do Rafa") %>
    </div>
  </div>
</section>
<section class="section--about--page left-align">
  <div class="row justify-content-between">
    <div class="about__image col-md-6 col-sm-12">
      <%= image_tag("rafa-pescador-amigo.jpg", :alt => "projeto pescador amigo", class: "about__photo") %>
    </div>
    <div class="about__text about__text--left-align col-md-6 col-sm-12">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis sem lacinia, faucibus nibh tempus, sodales massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br>
      <br>
      Ut tincidunt accumsan metus, a sollicitudin ipsum auctor sed. Nulla quis neque pellentesque, porta nibh ac, dignissim dolor. Aliquam ac tortor in erat rhoncus semper in vitae felis.
    </div>
  </div>
</section>
