<header>
  <div class="hero-banner">
    <div class="container">
      <div class="hero-text">
        <h1>Esse é o título do site</h1>
        <h2>Esse é o subtítulo do site. Esse é o subtítulo do site.</h2>
      </div>
    </div>
  </div>
  <div class="cards-container--home">
    <div class="container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <%= render '/pages/cards', locals:{ var1: "ssssvmwkoes", var2: "nvwea"} %>
          <%= render '/pages/cards', locals:{ var1: "asdvea", var2: "nvwea"} %>
          <%= render '/pages/cards', locals:{ var1: "sssefwsvmwkoes", var2: "nvwea"} %>
          <%= render '/pages/cards', locals:{ var1: "ssssvmwkoes", var2: "nvwea"} %>

        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</header>
