<header>
  <div class="hero-banner">
    <div class="container">
      <div class="hero-text">
        <h1>Esse é o título do site</h1>
        <h2>Esse é o subtítulo do site. Esse é o subtítulo do site.</h2>
      </div>
    </div>
  </div>
</header>
<section>
<div class="container">
  <h3>Eu ajudo líderes e liderados a criar um clima de compreensão, conexão e colaboração dentro da sua equipe e entre equipes por meio da comunicação dialógica
</div>
</h3>
  <div class="cards-container--home">
    <div class="swiper-container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <%= render '/pages/cards', locals:{ text: "Maior capacidade de entender pontos de vistas diferentes", image: "mensagem-check.png", alt: "icone messagem check" } %>
          <%= render '/pages/cards', locals:{ text: "Aumento da confiança, do respeito e da empatia", image: "confiar.png", alt: "icone confiar" } %>
          <%= render '/pages/cards', locals:{ text: "Aumento da capacidade de pensar, criar e fazer junto", image: "pensar.png", alt: "icone pensar" } %>
          <%= render '/pages/cards', locals:{ text: "Conflitos são resolvidos mais rapidamente", image: "trabalho-conjunto.png", alt: "icone trabalho conjunto" } %>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
