<header>
  <div class="hero-banner">
    <div class="container">
      <div class="hero-text">
        <h1>Esse é o título do site</h1>
        <h2>Esse é o subtítulo do site. Esse é o subtítulo do site.</h2>
      </div>
    </div>
  </div>
  </div>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</header>
