<div class="trainning-banner">
  <div class="container">
    <div class="trainning-text">
      <h1>Pedagogia do Aprender Fazendo
      </h1>
      <div class="trainning_subheader">Em meus treinamentos costumo adotar a “Pedagogia do Aprender Fazendo”. Uma forma de aprender que mistura teoria e prática, de forma que os alunos possam experimentar durante os cursos aquilo que estão aprendendo e sair dali com confiança para aplicar os novos conhecimentos dentro de sua organização e até em suas relações pessoais.</div>
    </div>
  </div>
</div>
<div class="trainning">
  <div class="trainning__title"  >
    <h3>Comunicação Dialógica</h3>
    <div class="trainning__subtitle" >As 6 habilidades de quem tem sucesso dentro das organizações</div>
  </div>
  <div class="trainning__objective" id="comunicacao-dialogica">
    <span>Objetivo</span><br>
    Neste treinamento os participantes sairão aptos a identificar os principais perigos que afetam a comunicação dentro das organizações nos dias de hoje e desenvolverão as seis habilidades fundamentais para alcançar o sucesso em suas comunicações profissionais e pessoais. São elas: observar atentamente; saber identificar as linguagens utilizadas por cada pessoa; ouvir dialogicamente; saber ler o que está por trás do que é dito; ser compreendido, mesmo quando houver divergência de ideias; e pensar de forma livre e sem amarras.
  </div>
  <div class="trainning__content">
    <span>Conteúdo</span>
    <ul>
      <li>O problema da incompreensão</li>
      <li>O que é comunicação e quais os diferentes tipos que existem?</li>
      <li>O poder da observação</li>
      <li>Os 3 tipos de linguagem</li>
      <li>Ouvir não é escutar</li>
      <li>Ler o óbvio é a habilidade do especialista em boa comunicação</li>
      <li>Fale o que pensa sem criar uma situação desagradável</li>
      <li>A sabedoria de não saber e o método de readmiração</li>
    </ul>
  </div>
  <div class="tranning__box">
    <div class="card card--training">
      <div class="card--content row w-100 align-items-center">
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>NÍVEL</span>: básico/introdutório
        </div>
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>ALUNOS POR TURMA</span>: 6 a 14 pessoas
        </div>
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>CARGA HORÁRIA</span>: 9 horas, sendo 3 encontros
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="btn btn-dark">Ver Treinamento</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="trainning">
  <div class="trainning__title">
    <h3>Expert em Conversas Difíceis</h3>
    <div class="trainning__subtitle">Como tratar de qualquer assunto sem criar desentendimentos ou ressentimentos</div>
  </div>
  <div class="trainning__objective" id="expert-conversas">
    <span>Objetivo</span><br>
    Neste treinamento os participantes aprenderão na prática um novo modelo de conversa, baseado num método exclusivo e comprovado de diálogo composto por quatro técnicas: a escuta dialógica; a identificação de emoções e sentimentos; a readmiração de crenças; e a expressão genuína de suas ideias. Ao final do processo estarão preparados para aplicar o método em suas relações profissionais, estimulando uma cultura de compreensão interpessoal dentro e entre as equipes da organização, o que aumentará o comprometimento e engajamento entre os colaboradores.
  </div>
  <div class="trainning__content">
    <span>Conteúdo</span>
    <ul>
      <li>Diálogo não é conversa</li>
      <li>Ouvir e Falar: duas faces de uma mesma moeda</li>
      <li>Domine suas emoções</li>
      <li>Transforme crenças</li>
      <li>Pondo à prova sua autonomia e confiança</li>
      <li>Domine o Método 3C de Diálogo</li>
    </ul>
  </div>
  <div class="tranning__box">
    <div class="card card--training">
      <div class="card--content row w-100 align-items-center">
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>NÍVEL</span>: intermediário
        </div>
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>ALUNOS POR TURMA</span>: 6 a 12 pessoas
        </div>
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>CARGA HORÁRIA</span>: 9 horas, sendo 6 encontros
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="btn btn-dark">Ver Treinamento</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="trainning">
  <div class="trainning__title" >
    <h3>Negociação Dialógica</h3>
    <div class="trainning__subtitle">Como transformar nossas diferenças em oportunidades de inovação e colaboração</div>
  </div>
  <div class="trainning__objective" id="negociacao-dialogica">
    <span>Objetivo</span><br>
    Neste treinamento os participantes sairão qualificados para negociar conflitos de uma forma inteiramente inovadora. Serão capazes de encontrar novas ideias e soluções ao interagir com quem tem perspectivas diferentes e até opostas às suas, transformando os conflitos em verdadeiras oportunidades de colaboração e engajamento.
  </div>
  <div class="trainning__content multi-list">
    <span>Conteúdo</span>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <ul>
          <li>Os princípios da negociação</li>
          <li>Negociação tradicional x Negociação dialógica</li>
          <li>Conflito é o combustível do diálogo: aprenda como transformálo em oportunidade de colaboração</li>
          <li>Os detalhes secretos da Negociação Dialógica</li>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6">
      <ul>
        <li>Os 6 passos da Negociação Dialógica
          <ol>
            <li>A arte de fazer boas perguntas</li>
            <li>Ouvir para ser ouvido</li>
            <li>Reconhecer o que é importante para a outra parte</li>
            <li>Expressar o que pensa, sente e deseja, sem impor ou manipular</li>
            <li>Pensar junto: encontrando novas possibilidades</li>
            <li>Deliberar e agir</li>
          </ol>
        </ul>
      </div>
    </div>
  </div>
  <div class="tranning__box">
    <div class="card card--training">
      <div class="card--content row w-100 align-items-center">
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>NÍVEL</span>: avançado
        </div>
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>ALUNOS POR TURMA</span>: 8 a 14 pessoas
        </div>
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>CARGA HORÁRIA</span>: 12 horas, sendo 4 encontros
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="btn btn-dark">Ver Treinamento</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="trainning">
  <div class="trainning__title">
    <h3>Como ser Entendido com Apresentações Impactantes</h3>
  </div>
  <div class="trainning__objective" id="apresentacoes-impactantes">
    <span>Objetivo</span><br>
    Neste treinamento os participantes sairão capacitados para realizar apresentações de alto impacto, expressando suas ideias de forma clara e profunda, de modo que sejam compreendidas pelos ouvintes.
  </div>
  <div class="trainning__content">
    <span>Conteúdo</span>
    <ul>
      <li>O poder de uma história: emoções x dados</li>
      <li>Os segredos de uma apresentação impactante</li>
      <li>A apresentação muda conforme a audiência</li>
      <li>O poder da linha mestra e do roteiro bem planejado</li>
      <li>Potencializando o impacto: descubra como fazer seu corpo falar a mesma língua da sua boca</li>
      <li>Seja um maestro: comande o tom de voz e as pausas</li>
      <li>Descubra e transforme seus vícios e defeitos de apresentação</li>
      <li>Encurte a distância entre o planejado e o performado</li>
      <li>Simulação prática com feedback construtivo</li>
    </ul>
  </div>
  <div class="tranning__box">
    <div class="card card--training">
      <div class="card--content row w-100 align-items-center">
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>NÍVEL</span>: basico/intermediário
        </div>
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>ALUNOS POR TURMA</span>: 8 a 14 pessoas
        </div>
        <div class="card--training__stat col-sm-12 col-md-6">
          <span>CARGA HORÁRIA</span>: 12 horas, sendo 4 encontros
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="btn btn-dark">Ver Treinamento</div>
        </div>
      </div>
    </div>
  </div>
</div>
