.section--about--page {
  justify-content: space-between;
  margin: 0 0 0 auto;
  width: 90%;
  line-height: 40px;
}

.left-align{
  margin: 20px auto 0 0;
}

.about__photo {
  width:100%;
  margin-top: -90px !important;
}

.about__text--left-align{
  padding: 20px;
}

.about__text--page{
  margin-bottom: 90px;
}
