<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/rafa3c.dialogo/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCIkzsvp6sYHjDjCae2N_efQ"><i class="fab fa-youtube"></i></a>
    <a href="https://www.linkedin.com/in/rafaelarosamonteiro/"><i class="fab fa-linkedin"></i></a>
  </div>
    <div class="footer-copyright">
      <%= link_to image_tag("3c-logo-branco.png"), "/", class:"" %>
    </div>
</div>
