<nav class="navbar navbar-expand-sm navbar-lewagon custom-navbar navbar-fixed-top">
  <div class="container-fluid container">
    <a class="navbar-options navbar-title" href="/">3C Diálogo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto gap-3">
        <li class="nav-item">
          <a class="nav-link navbar-options" href="#comunicacao-dialogica">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-options" href="#">Livro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-options" href="/publicacoes">Publicações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-options" href="/treinamentos">Treinamentos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
